body {
    width: 100%;
    margin: 0;
    padding: 0;
    background: #00abc7;
    font-family: 'Neucha', cursive;
    
}

h1 {
    font-family: 'Fontdiner Swanky', cursive;
    text-align: center;
    color: #fefefe;
    text-transform: uppercase;
    font-size: 40px;
    cursor: default;
    margin: 15px;
}

.wrapper {
    max-width: 1280px;
    min-width: 480px;
    margin: 0 auto;
    padding: 0 26px;  
}

#inputAria {
    min-width: 60%; 
    padding: 5px 10px;
    border: 3px solid #e4002f;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    font-size: 1.5em;
    color: #223300;
    letter-spacing: 1px;
    margin: 0;
}

#searchButton {
    border: 2px solid #e4002f;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    font-size: 1.5em;
    line-height: 100%;
    padding: 6px;
    margin-left: 20px;
    text-transform: uppercase;
    background: #381213;
    color: #fefefe;
    cursor: pointer;
}

#searchButton:hover {
    color: #381213;
    background: #fefefe;
    transition: 0.3s;
}

header {
    font-family: 'Fontdiner Swanky', cursive;
    width: 100%;
    text-align: center;
    min-width: 480px;
}

.application {
    position: relative;
    margin: 40px auto;
    border: 5px solid #381213;
    box-shadow: 0 0 8px white;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 10px;
}

.carousel {
    position: relative;
    overflow: hidden;
    border: none;
}

.carousel > ul {
    width: 500000em;
    position: relative;
    list-style: none;
    color: #fefefe;
    left: 0;
    margin: 0;
    padding: 0;
    transition: left, 0.3s;
    background: #e4002f;
}

.carousel li > div {
    list-style: none;
    padding: 15px;
    margin:20px; 
    background: #01667f;
    border-radius: 10px;
    cursor: default;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

.carousel > ul > li {
    float: left;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.application-pages {
    position: absolute;
    bottom: -3.5em;
    right: 50%;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(50%, 0);
    margin: 0;
}

.application-pages a {
    text-decoration: none;
    display: inline-block;  
    height: 1.2em;
    width: 1.6em;
    line-height: 1.2em;
    background: #fff;
    margin: 0.3em;
    border-radius: 0.5em;
    text-align: center;
    border: 2px solid #01667f;
}

.application-pages a.active {
    background: #381213;
}

.application-pages a > span {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    font-size: 0.8em;
    font-weight: 500;
    color: #223300;
    display: block;
    opacity: 0;
    cursor: pointer;
}

.application-pages a.active > span {
    color:#fefefe;
    opacity: 1;
}

.application-pages a:not(.active) > span:hover {
    color:#381213;
    opacity: 1;
}

.hidden {
    visibility: hidden;
}

.preview {
    width: 100%;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 2px solid #e4002f;
}

.description {
    height: 150px;
    padding: 3px;
    overflow: auto;
    background: white;
    color:#4d4729;
}

.date, .views, .author, .description {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    margin-top: 10px;
    width: 100%;
    font-size: 0.8em;
}

.title {
    height: 90px;
    text-align: center;
    margin: 0 0 5px 0;
    overflow: hidden;
}

.title:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.title > a {
    display: inline-block;
    width: 100%;
    vertical-align: middle;
    text-decoration: none;
    font-size: 1em;
    color: #cbf1f2;
}

.title > a:hover {
    color: #e4002f;
}

.hide {
    display: none;
}

i {
    color: #fefefe;
}

i:hover {
    color: #381213;
}

.warning {
    font-size: 20px;
    color: white;
    margin: 15px;
}
